/*Header Title*/
.page-title {
    padding: 1rem 10px;
}

.page-title p {
    letter-spacing: 0.4em;
    font-size: 22px;
    text-align: center;
}

.page-title h1 {
    text-align: center;
    font-size: 116px;
    font-family: 'Frank Ruhl Libre', serif;
}

/*Navigation Bar*/

nav {
    background-color: white!important;
}

.navbar-social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;
    grid-gap: 5px;
    margin: 10px;
    row-gap: 10px;;
}

.form-control:hover {
    border-bottom: 1px solid black;
}



.btn-outline-success:hover {
    background-color: gray!important;
}

/*Main part*/
/*Never miss*/
.never {
    border-top: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 60px;
}

.nevermiss {
    min-width: 50%;
}

.nevermiss-text {
    font-size: 38px;
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 900;
}

.never-subscribe {
    margin-left: 50px;
    margin-bottom: 10px;
}

.never-legend {
    font-size: 17px;
    color: gray;
    margin-bottom: none;
}

#never-email {
    border-left: none;
    border-top: none;
    border-right: none;
    width: 50vw;
    margin-top:0%;
}

.never-subscribe-button {
    background-color: rgb(102, 0, 234);
    color: white;
    border: none;
    height: 50px;
    padding: 10px 20px;
    margin-left: 10px;
}

.never-subscribe-button:hover {
    background-color: black;
}

/* grid section */

.alex-div-title {
    margin-top: 50px;
}


.alex-card-body {
    margin: 20px;
}

.alex-dot {
    width: 3px;
    height: 3px;
    align-items: center;
    align-self: center;
    background-color: black;
    display: inline-block;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

.publish-date {
    font-size: 12px;
}

.card-title {
    text-transform: capitalize;
}

.card-text {
    padding-top: 10px;
}

.alex-card-bottom {
    border-top: 1px solid rgba(128, 128, 128, 0.626);
    margin-top: 100px;
}

.alex-card-likes {
    float: right;
}

.alex-card-likes img {
    display: inline-block;
}

 .alex-card-views {
    display: inline-block;
    color: black;
    margin-right: 20px;
    font-size: 13px;
 }


.left-blog-post {
    width: 500px;
    height: 350px;
    border: 1px solid black;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 40% 60%;
}

.left-blog-image {
    height: 100%;
    background-image: url('./assets-alex/c22c23_56862fbf994d49a3a136f14547e6194c~mv2_d_1920_1342_s_2.webp');
    background-position: center;
    background-origin:content-box;
    background-repeat: no-repeat;
    background-size:cover;
}

/* Media queries*/
@media only screen and (max-width: 500px) {
    .page-title h1 {
        font-size: 50px;
    }

    .page-title p {
        font-size: 13px;
    }

    .never {
        display: inline-block;
    }

    .alex-div {
        border-bottom: 1px solid black;
        border-bottom-width: 100%;
    }

    .never-subscribe {
        display: inline-block;
        margin-bottom: 5px;
        align-self: center;
    }

    .never-subscribe-button {
        margin-top: 5px;
        width: 100px;
        margin-left: 0px;
    }

    .left-blog-post {
        margin: 30px auto;
        display: grid;
        grid-template-rows: 40% 60%;
        grid-template-columns: none;
        width: 250px;
    }

    .alex-card-body {
        font-size: 15px;
        padding: 0px;
    }

    .alex-card-body h5 {
        font-size: 16px;
    }

    .alex-card-views {
        margin-right: 5px;
    }

    .alex-card-bottom {
        margin-top: 0px;
    }

    .card-text {
        margin-bottom: 0px;
    }
}

/*@media only screen and (max-width: 500px) {
    .left-blog-post {
        margin: 30px 10%;
        display: grid;
        grid-template-rows: 40% 60%;
        grid-template-columns: none;
        width: 250px;
    }

    .page-title h1 {
        font-size: 80px;
    }

        .page-title p {
        font-size: 15px;
    }

    #never-email {
        width: 80px;
    }

    .never-subscribe-button {
        margin-top: 10px;
        margin-left: 0;
    }

    .nevermiss-text {
        font-size: 7vw;
    }

}*/

    /*@media only screen and (max-width: 1024px) {
        .never-subscribe-button {
        margin-top: 10px;
        margin-left: 10px;
    }
    }*/